<div class="container">
    <h2>Contact Me</h2>
    
    <div class="contact-details">
        <p><strong>Name:</strong> {{ownName}}</p>
        <p><strong>Phone:</strong> {{ownPhone}}</p>
        <p><strong>Email:</strong> <a href="mailto:youremail@example.com">{{ownEmail}}</a></p>
    </div>
<br>
<br>

<div *ngIf="error">{{ error }}</div>
<div *ngIf="successMessage" class="success">{{ successMessage }}</div>

<div>
    <h3>Post your Details</h3>
    <form #formName="ngForm" (ngSubmit)="addSkill(formName)">
      <label>Enter your name:</label>
      <input type="text" [(ngModel)]="newUser.name" name="name" required><br><br>
  
      <label>Phone number:</label>
      <input type="text" [(ngModel)]="newUser.phone_number" name="phone_number" required><br><br>
  
      <label>Email Id:</label>
      <input type="text" [(ngModel)]="newUser.email" name="email" required><br><br>
  
      <label>Enter your message:</label>
      <input type="text" [(ngModel)]="newUser.message" name="message" required><br><br>
      <button type="submit">Add Details</button>
    </form>
</div>



