<div class="container">
    <h2>My PortFolio</h2>
    
    <p>Hi, I'm {{name}}, a passionate Backend Developer with 3.5 years of experience in developing robust backend systems, APIs, and data management solutions. This app serves as a showcase of my professional journey and personal interests.</p>  
    <p>Through this portfolio, I aim to present my skills, projects, and vision, along with providing insights into my approach to problem-solving and development practices.</p>   
    <p>Feel free to explore my work, and get in touch for potential collaborations or opportunities!</p>
    
</div>

